/* footer section*/

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bkground-color-title);
}
.logo__studio-footer {
  color: var(--title-color);
  transition: color var(--trans-duration) var(--transit-tim-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.footer-section {
  .logo {
    display: inline-block;
    margin-bottom: 20px;
  }
}

.footer-addr__location,
.footer-addr__contact {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--title-color);
}
.footer-addr__contact {
  color: var(--footer-contact-color);
  transition: color var(--trans-duration) var(--transit-tim-function);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.loc-footer,
.mail-footer {
  margin-bottom: 9px;
}
.social-list__footer-link {
  background-color: var(--footer-icon-bcgcolor);
  transition: background-color var(--trans-duration) var(--transit-tim-function);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}

.social-list__footer-icon {
  fill: var(--title-color);
}
.join-section__title,
.subscription-section__title {
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-color);
  margin: 0 0 20px 0;
}
/*.contact-section-footer-general {
  display: flex;
  align-items: baseline;
}
.contact-section-footer {
  width: 231px;
  margin-right: 70px;
}*/
.join-section {
  width: 206px;
  margin: 0;
}
/*.subscription-section {
  margin-left: auto;
}*/
.subscription-form__btn {
  // display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 10px 28px;
  margin-left: 12px;
  &:hover,
  &:focus {
    background-color: var(--btn-color);
  }
}

.subscription-form__icon {
  width: 24px;
  height: 24px;
  fill: var(--title-color);
  margin-left: 10px;
}
/*.subscription-form {
  display: flex;
}*/

.subscription-form__field {
  width: 358px;
  border: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: var(--footer-contact-color);
  padding-left: 16px;
  transition: border-color var(--trans-duration) var(--transit-tim-function);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

/*.subscribe-field::placeholder {
  font-size: 16px;
  line-height: 1.25px;
  color: rgba(255, 255, 255, 0.6);
}*/
