// Mobile-menu

.menu-container {
  position: fixed;
  //position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 83px 48px 40px;
  background-color: var(--title-color);
  z-index: 100;
  transform: translateX(100%);
  transition: transform var(--trans-duration) var(--transit-tim-function);
}
.menu-container.is-open {
  transform: translateX(0);
}
.navi,
.header-contact {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.menu-close {
  position: absolute;
  top: 10px;
  right: 15px;
}
.menu-toggle {
  @media screen and (min-width: 768px) {
    display: none;
  }
  min-width: 40px;
  min-height: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menu-toggle__svg {
  width: 24px;
  height: 16px;
  fill: var(--logo-header-color);
  transition: fill var(--trans-duration) var(--transit-tim-function);
  .menu-btn:hover &,
  .menu-btn:focus & {
    fill: var(--accent-color);
  }
}
.mobile-list,
.mobile-contact-list {
  margin: 0;
  padding: 0;
}
.link-item {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.mobile-list__item:not(:last-child) {
  margin-bottom: 32px;
}
.menu-container .mobile-link-studio.current,
.menu-container .mobile-link-portfolio.current {
  color: var(--accent-color);
}
.mobile-link-tel {
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
.mobile-link-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
@media screen and (max-width: 479px) {
  .mobile-link-mail,
  .mobile-link-tel,
  .link-item {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
}
.mobile-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.mobile-contact-list {
  margin-top: auto;
  padding-bottom: 64px;
}
.mobile-link-tel,
.mobile-link-mail {
  display: inline-block;
}
.mobile-link-tel {
  margin-bottom: 32px;
}
.mobile-social-list {
  display: flex;
  flex-wrap: wrap;
}
/*.mobile-social-list__item::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  display: block;
}
.mobile-social-list__link {
  position: relative;
}*/

.mobile-social-list__item {
  &:not(:last-child) {
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
}
.mobile-social-list__link {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}
