/*main portfolio section*/

/*botton section*/
.portfolio-section {
  margin-top: 60px;
  margin-bottom: 60px;
}

.portfolio-btn-list__active {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  color: var(--primary-color);
  background-color: var(--bkground-color-teamandbtn);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;
  &:hover,
  &:focus {
    color: var(--title-color);
    background-color: var(--accent-color);
    box-shadow: var(--btn-shadow-porfolio);
  }
}

.portfolio-btn-list {
  .btn-all.current {
    color: var(--title-color);
    background-color: var(--accent-color);
  }
}
.portfolio-btn-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;

  //justify-content: center;
  //margin-bottom: 50px;
}
.portfolio-btn-list__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

/* cards section*/
.portfolio-item {
  text-align: left;
  margin-bottom: 30px;
}

.portfolio-link__name {
  margin-top: 0;
  margin-bottom: 4px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color);
}

.portfolio-link {
  text-decoration: none;
  display: inline-block;
  transition: box-shadow var(--trans-duration) var(--transit-tim-function);
  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-portfolio);
  }
}

.portfolio-link__type {
  margin: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  color: var(--secondary-color);
}
@media screen and (min-width: 768px) {
  .portfolio-btn-list {
    display: flex;
    margin-bottom: 30px;
    justify-content: center;
  }

  .portfolio-btn-list__item:not(:last-child) {
    margin-right: 8px;
    margin-bottom: 0;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: calc(-1 * var(--card-set-gap));
    margin-left: calc(-1 * var(--card-set-gap));
  }
  .portfolio-list {
    .portfolio-item {
      display: flex;
      flex-basis: calc(100% / 2 - var(--card-set-gap));
      margin-top: var(--card-set-gap);
      margin-left: var(--card-set-gap);
      margin-bottom: 0;
    }
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-btn-list {
    margin-bottom: 50px;
  }
  .portfolio-list {
    .portfolio-item {
      display: flex;
      flex-basis: calc(100% / 3 - var(--card-set-gap));
      margin-top: var(--card-set-gap);
      margin-left: var(--card-set-gap);
    }
  }
}
.portfolio-link__thumb {
  padding: 20px 24px;
  border: 1px solid var(--border-portfolio-card);
  border-top: none;
}

.portfolio-link__card-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-link__text {
  position: absolute;
  transform: translateY(101%);
  transition: transform var(--trans-duration) var(--transit-tim-function);
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--title-color);
  background-color: var(--bkground-color-textcard);
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 63px 24px;
  height: 100%;
  .portfolio-link:hover &,
  .portfolio-link:focus & {
    transform: translateY(0);
  }
}
.portfolio-link {
  display: flex;
  flex-direction: column;
}
.portfolio-link__thumb {
  flex-grow: 1;
}
