body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--title-color);
  letter-spacing: 0.03em;
}

.container {
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
  /*max-width: 1200px;*/
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/*.section {
  padding-top: 94px;
  padding-bottom: 94px;
}*/
.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--title-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  min-width: 200px;
}

/* transitions for btn-hover*/
.hero-btn,
.btn-active,
.subscription-form__btn {
  transition: color var(--trans-duration) var(--transit-tim-function),
    background-color var(--trans-duration) var(--transit-tim-function),
    box-shadow var(--trans-duration) var(--transit-tim-function);
}

/* for modal window*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}
